<section class="customers">
    <div class="customers-container conteiner">
      <h2 class="customers-text-title">What our Customers Say</h2>
      <p class="customer-text">
        Don't just take our word for it - see what our satisfied customers have to say
      </p>
      <ul class="customers-block">
        <li class="customers-card">
          <div class="customers-say">
          <img src="./img/customers/Stars.png" alt="stars" class="stars"/>
            <h3 class="costomer-text-item">“The Best app I have used to order food in a while, so many options to choose from too, I would recommend to a freind, No questions asked”</h3>
            <div class="avatar">  
            <img src="./img/customers/Ellipse 9_dude-1.png" alt="Sumith Shah" />
         <span class="avatar-content">
          <p class="sumith">Sumith Shah</p>
           <p class="dude">Some Dude</p>
         </span>
          </div>
          </div>
          </li>
        <li class="customers-card">
          <div class="customers-say">
          <img src="./img/customers/Stars.png" alt="stars" class="stars" />
            <h3 class="costomer-text-item">“The ease with which I can just go in and order what i want was amazing, It has been a very pleasant experience ordering from this app”</h3>
            <div class="avatar">  
            <img src="./img/customers/Ellipse 10_dude-2.png" alt="Sumith Shah" />
        <span class="avatar-content">
          <p class="sumith">Sumith Shah</p>
          <p class="dude">Some Dude</p>
          </span>
          </div>
          </div>
          </li>
      </ul>
    </div>
  </section>