<section class="favorites" id="favorites">
  <div class="container">
    <h2 class="favorites-title">Some of Our Favorites</h2>
    <p class="favorites-text">Looking for something delicious?</p>
    <ul class="benefits">
      <li class="favorites-item">
        <picture>
          <!-- Desktop -->
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/favorite-desktop/desktok_gamburger@1x.jpg 1x,
              ./img/favorite-desktop/desktok_gamburger@2x.jpg 2x
            "
            width="315"
          />
          <!-- Tablet -->
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/favorite-tab/tab-gamburger@1x.jpg 1x,
              ./img/favorite-tab/tab-gamburger@2x.jpg 2x
            "
            width="267"
          />
          <!-- Mobile -->
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/favorite-mobile/mobile_gamburger@1x.jpg 1x,
              ./img/favorite-mobile/mobile_gamburger@2x.jpg 2x
            "
            width="223"
          />
          <img
            class="favorites-img"
            src="./img/gamburger.png"
            alt="gamburger"
            width="315"
            loading="lazy"
          />
        </picture>
      </li>
      <li class="favorites-item">
        <picture>
          <!-- Desktop -->
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/favorite-desktop/desktok_pasta@1x.jpg 1x,
              ./img/favorite-desktop/desktok_pasta@2x.jpg 2x
            "
            width="315"
          />
          <!-- Tablet -->
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/favorite-tab/tab-pasta@1x.jpg 1x,
              ./img/favorite-tab/tab-pasta@2x.jpg 2x
            "
            width="267"
          />
          <!-- Mobile -->
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/favorite-mobile/mobile_pasta@1x.jpg 1x,
              ./img/favorite-mobile/mobile_pasta@2x.jpg 2x
            "
            width="223"
          />
          <img
            class="favorites-img"
            src="./img/pasta.png"
            alt="pasta"
            width="315"
            loading="lazy"
          />
        </picture>
      </li>
      <li class="favorites-item">
        <picture>
          <!-- Desktop -->
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/favorite-desktop/desktok_pizza@1x.jpg 1x,
              ./img/favorite-desktop/desktok_pizza@2x.jpg 2x
            "
            width="315"
          />

          <!-- Tablet -->
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/favorite-tab/tab-pizza@1x.jpg 1x,
              ./img/favorite-tab/tab-pizza@2x.jpg 2x
            "
            width="267"
          />
          <!-- Mobile -->
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/favorite-mobile/mobile_pizza@1x.jpg 1x,
              ./img/favorite-mobile/mobile_pizza@2x.jpg 2x
            "
            width="223"
          />
          <img
            class="favorites-img"
            src="./img/pizza.png"
            alt="pizza"
            width="315"
            loading="lazy"
          />
        </picture>
      </li>
      <li class="favorites-item">
        <picture>
          <!-- Desktop -->
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/favorite-desktop/desktok_chicken@1x.jpg 1x,
              ./img/favorite-desktop/desktok_chicken@2x.jpg 2x
            "
            width="315"
          />
          <!-- Tablet -->
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/favorite-tab/tab-chicken@1x.jpg 1x,
              ./img/favorite-tab/tab-chicken@2x.jpg 2x
            "
            width="267"
          />
          <img
            class="favorites-img"
            src="./img/chicken.png"
            alt="chicken"
            width="315"
            loading="lazy"
          />
        </picture>
      </li>
      <li class="favorites-item">
        <picture>
          <!-- Desktop -->
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/favorite-desktop/desktok_salat@1x.jpg 1x,
              ./img/favorite-desktop/desktok_salat@2x.jpg 2x
            "
            width="315"
          />
          <!-- Tablet -->
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/favorite-tab/tab-salat@1x.jpg 1x,
              ./img/favorite-tab/tab-salat@2x.jpg 2x
            "
            width="267"
          />
          <img
            class="favorites-img"
            src="./img/salad.png"
            alt="salad"
            width="315"
            height="315"
            loading="lazy"
          />
        </picture>
      </li>
      <li class="favorites-item">
        <picture>
          <!-- Desktop -->
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/favorite-desktop/desktok_borshch@1x.jpg 1x,
              ./img/favorite-desktop/desktok_borshch@2x.jpg 2x
            "
            width="315"
          />
          <!-- Tablet -->
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/favorite-tab/tab-borshch@1x.jpg 1x,
              ./img/favorite-tab/tab-borshch@2x.jpg 2x
            "
            width="267"
          />
          <img
            class="favorites-img"
            src="./img/borshch.png"
            alt="borshch"
            width="315"
            loading="lazy"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
