<footer class="footer">
  <div class="container footer-container">
    <div class="footer-wrap">
      <a class="footer-logo" href="./index.html">
        <svg class="" width="66" height="52">
          <use href="./img/icons.svg#icon-big-logo"></use>
        </svg>
      </a>
      <ul class="footer-menu">
        <li><a class="footer-link" href="./index.html">Home</a></li>
        <li><a class="footer-link" href="">About</a></li>
        <li><a class="footer-link" href="">Service</a></li>
        <li><a class="footer-link" href="">Menu</a></li>
        <li><a class="footer-link" href="">Contact</a></li>
      </ul>
      <div class="footer-subscribe">
        <p class="sub-title">Subscribe</p>
        <form class="footer-form">
          <label class="sub-title">
            <input
              class="sub-email"
              name="sub-email"
              type="email"
              placeholder="E-mail"
            />
          </label>
          <button class="sub-btn" type="submit">Subscribe</button>
        </form>
        <p class="footer-agree">
          By subscribing you agree to with our
          <a class="footer-agree-link" href="">Privacy Policy</a>
        </p>
      </div>
    </div>
    <div class="footer-wrapper">
      <ul class="footer-rules-list">
        <li class="footer-rules-item">
          <a class="rules-link" href="">Privacy Policy</a>
        </li>
        <li class="footer-rules-item">
          <a class="rules-link" href="">Terms of Service</a>
        </li>
        <li class="footer-rules-item">
          <a class="rules-link" href="">Cookies Settings</a>
        </li>
      </ul>
      <p class="footer-protected">2022 FoodSta. All right reserved.</p>
    </div>
  </div>
</footer>
