<header class="header">
  <div class="container header-container">
    <nav class="header-nav">
      <a class="header-logo" href="./index.html">
        <svg class="" width="66" height="52">
          <use href="./img/icons.svg#icon-big-logo"></use>
        </svg>
      </a>
      <ul class="header-menu">
        <li><a class="header-link" href="./index.html">Home</a></li>
        <li><a class="header-link" href="">About</a></li>
        <li><a class="header-link" href="">Service</a></li>
        <li><a class="header-link" href="">Menu</a></li>
        <li><a class="header-link" href="">Contact</a></li>
      </ul>
    </nav>
    <button class="header-btn" type="button" data-open-order-header>
      Order Now
    </button>
    <button type="button" class="burger-btn" aria-label="Menu open button">
      <svg class="burger-btn-icon" width="28" height="28">
        <use href="./img/icons.svg#burger"></use>
      </svg>
    </button>
    <!-- Mobile menu Nelli Diachkina -->
    <div class="mobile-menu">
      <button type="button" class="modal-btn" aria-label="Modal close button">
        <svg class="modal-btn-icon" width="24" height="24">
          <use href="./img/icons.svg#close"></use>
        </svg>
      </button>
      <ul class="mobile-menu-nav">
        <li><a href="./index.html" class="mobile-menu-link active">Home</a></li>
        <li><a href="" class="mobile-menu-link">About</a></li>
        <li><a href="" class="mobile-menu-link">Service</a></li>
        <li><a href="" class="mobile-menu-link">Menu</a></li>
        <li><a href="" class="mobile-menu-link">Contact</a></li>
      </ul>
    </div>
  </div>
</header>
