<section class="hero">
  <div class="container container-hero">
    <div class="hero-content">
      <h1 class="hero-title">Enjoy Your Favorite Food From Anywhere</h1>
      <p class="hero-text">
        With just a few clicks, you can have your favorite meals delivered
        straight to your doorstep, no matter where you are. Order now and enjoy
        a hassle-free and delicious meal from the comfort of your own home.
      </p>
      <button class="header-btn hero-button" data-open-order-hero>
        Order Now
      </button>
    </div>

    <div class="hero-img-wrapper position">
      <picture
        ><source
          media="(min-width: 1280px)"
          srcset="./img/desckhero.png 1x, ./img/desckhero@2x.png 2x"
          width="580" />
        <source
          media="(min-width: 768px)"
          srcset="./img/tabhero.png 1x, ./img/tabhero@2x.png 2x"
          width="320" />
        <img
          class="hero-img"
          src="./img/desckhero.png"
          alt="salad"
          loading="lazy"
      /></picture>
      <button
        class="hero-arrow-btn left"
        aria-label="посмотреть следующий слайд"
      >
        <svg class="arrow-icon" width="34" height="28">
          <use href="./img/icons-sna.svg#icon-left"></use>
        </svg>
      </button>
      <button
        class="hero-arrow-btn right"
        aria-label="посмотреть следующий слайд"
      >
        <svg class="arrow-icon" width="34" height="28">
          <use href="./img/icons-sna.svg#icon-right"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
