<div id="backdrop" class="backdrop" data-backdrop>
  <div class="modal">
    <button
      class="close-button"
      aria-label="Model close button"
      data-close-modal
    >
      <svg class="close-button-icon">
        <use href="./img/icons.svg#icon-close-button"></use>
      </svg>
    </button>
    <div class="modal-container">
      <p class="title">Order Form</p>
      <form class="modal-form">
        <label class="label" for="user-name">Name</label>
        <input
          class="input"
          type="text"
          id="user-name"
          class="name-input"
          name="user_name"
          placeholder="Your name"
          required
        />
        <label class="label" for="user-phone">Phone number</label>
        <input
          class="input"
          type="tel"
          id="user-phone"
          class="phone-input"
          name="user_phone"
          placeholder="+38(0_ _) _ _ _   _ _   _ _"
          required
        />
        <label class="label" for="user-email">E-mail</label>
        <input
          class="input"
          type="email"
          id="user-email"
          class="email-input"
          name="user_email"
          placeholder="example@gmail.com"
          required
        />
        <button class="buttn-sent" type="submit">Send</button>
      </form>
    </div>
  </div>
</div>
