.customers{
    background-color: #FFE550;
    padding-top: 176px;
    padding-bottom: 176px;
    margin: 101px auto 0 auto;
    }
    .customers-container {
    
      margin-left: 32px;
    }
    .customers-text-title {
    max-width: 496px;
    text-align: start;
    font-size: 42px;
    font-weight: 700;
    letter-spacing: 0.02em;
    
    }
    .customer-text{
    font-size: 16px;
    font-weight: 400;
    padding-top: 20px;
    padding-bottom: 33px;
    }
    
    .customer-text-item{
    font-size: 18px;
    font-weight: 700;
    text-align: left;
    
    }
    
    .customers-block{
      display: inline-flex;
      margin-right: 32px;
      gap: 139px;
      justify-content: space-evenly;
     
    }
    .customers-card{
      display: block;
      width: 501px;
      height: 232px;
      border-radius: 0px 30px 30px 30px;
      background-color: #FEFEFE;
    
    }
    .customers-say{
    padding: 14px;
    }
    
    .stars{
    padding-bottom: 29px;
    }
    .avatar {
    display: flex;
    }
    .avatar-content{
      padding-left: 16px;
      gap: 2px;
    }
    .sumith{
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5;
    }
    .dude{
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    }
    