.offerings {
  background-color: #ffe550;
  margin-bottom: 120px;
}

.container-offerings {
  display: flex;
  gap: 90px;
  padding: 167px 51px 124px 16px;
}

.offer-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 550px;
  height: 550px;
  flex-shrink: 0;
  border-radius: 550px;
  border: 5px solid rgba(255, 255, 255, 0.5);
}

.offer-img-bg {
  position: relative;
  width: 502px;
  height: 502px;
  flex-shrink: 0;
  border-radius: 502px;
  background-color: #fefefe;
}

.offer-img-apple {
  position: absolute;
  left: 60px;
  top: -78px;
}

.offer-content {
  padding-top: 29px;
}

.offer-title {
  margin-bottom: 20px;
}

.offer-text {
  width: 500px;
  margin-bottom: 40px;
}

.offer-all-items {
  display: flex;
  gap: 67px;
  margin-bottom: 32px;
}

.offer-item {
  flex-basis: calc((100% - 67px) / 2);
}

.offer-icon-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  background-color: #fefefe;
  border-radius: 50%;
  margin-bottom: 8px;
}

/* .offer-icon {
} */

.offer-item-title {
  margin-bottom: 16px;
}

.offer-item-text {
  font-size: 14px;
}

.offer-btn {
  padding: 10px 22px;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.5;
  border-radius: 30px;
  border: 2px solid #7eb101;
  background-color: #fff;
}
